@charset "utf-8";

/*
   Layout styles
   Author: Martin Kohoutek
   Date:   7.4.2021
   
   Filename: layout.css

*/

/* Window and Body Styles */
html {
   width: 100%;
}
body {
   width: 95%;
   min-width: 640px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
}
header, ul, nav, li, a {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* Row Styles */
.row::after {
   clear: both;
   content: "";
   display: table;
}

/* Page Header Styles */
body > header img {
   display: block;
   width: 70%;
   float: left;
}
body > header nav {
   float: left;
   width: 30%;
   padding-left: 2%;
   padding-right: 2%;
}
body > header a {
   display: block;
   width: 100%;
}

/* Horizontal Navigation List Styles */
body > nav li {
   display: block;
   width: 12.5%;
   float: left;
}

/* Topics Styles */
ul#topics li {
   display: block;
   width: 20%;
   float: left;
   margin-left: 0;
   margin-right: 1.5%;
}
ul#topics li:first-of-type {
   margin-left: 7.75%;
}
ul#topics li:last-of-type {
   margin-right: 7.75%;
}
ul#topics li i {   
   display: block;
   font-size: 88px;   
   color: #E0607E;
   text-align: center;
   margin: 20px auto;
}
ul#topics li img {
   display: block;
   width: 50%;
   margin-left: auto;
   margin-right: auto;      
}

/* HR Styles */
hr {
   width: 50%;
}

/* Customer Comment Styles */
ul#comments {
   width: 75%;
   margin: 40px auto;
}
ul#comments li {
   display: block;
   width: 50%;
   float: left;
   margin-bottom: 30px;
   min-height: 100px;
}
ul#comments li img {
   display: block;
   width: 20%;
   float: left;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 50%;
}
ul#comments li p {
   width: 70%;
   float: left;
}
/* Footer Styles */
footer {
   clear: both;
}

